.home-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.tshirt-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 100px 80px;
  position: relative;
}
.cart-container {
  background-color: lightsalmon;
  border-left: 2px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
